.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.data {
  padding: 0;
  list-style: none;
}
.data li {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}
.data li::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 2px;
  background: #DDD;
  margin-right: 10px;
}